<script setup>
import { ref } from "vue"
import { useStore } from "vuex"
import ResultsListItem from "./ResultsListItem.vue"
const store = useStore()

let score = 0

// Calculates the user score based on user answers and question correct_answer.
const newHighScore = ref(false)

for (
    let questionId = 0;
    questionId < store.state.questions.length;
    questionId++
) {
    const correctAnswer = store.state.questions[questionId].correct_answer
    const answer = store.state.answers[questionId]

    if (correctAnswer == answer) {
        score += 10
    }
}

const userHighScore = store.state.user.highScore
if (score > userHighScore) {
    newHighScore.value = true
    store.dispatch("updateHighScore", { userId: store.state.user.id, score })
}
</script>

<template>
    <main class="p-3 mx-auto my-5 flex flex-col place-items-center">
        <h1 class="text-2xl">Results:</h1>
        <ul>
            <ResultsListItem
                v-for="(answer, index) of store.state.answers"
                :answer="answer"
                :answerId="index"
                :key="index"
            />
        </ul>
        <div
            class="flex flex-col text-lg p-3 px-7 mx-5 bg-teal-200 rounded place-items-center"
        >
            <span class="text-lg mx-5">Your score: {{ score }}</span>
            <span v-if="newHighScore" class="text-lg mx-5">
                New high score!
            </span>
        </div>
    </main>
</template>
