<script setup>import { useStore } from 'vuex';
import parseHtml from '../../parser';

const props = defineProps({
    answer: String,
    answerId: {
        type: Number,
        required: true,
    },
})

const store = useStore()


const question = store.state.questions[props.answerId]
const correctAnswer = question.correct_answer

</script>
<template>
    <li class="p-2">
        <p class="font-bold">Question: {{ parseHtml(question.question) }}</p>
        <p>Your answer: {{ parseHtml(props.answer) }}</p>
        <p>Correct answer: {{ parseHtml(correctAnswer) }}</p>
    </li>
</template>
