<script setup>
import { computed, onBeforeUnmount, onMounted, onUnmounted, ref } from "vue"
import { useRoute } from "vue-router"
import { useStore } from "vuex"
import QuestionItem from "../components/questions_components/QuestionItem.vue"

const route = useRoute()
const store = useStore()

// Used to set up the correct QuestionItem
const currentQuestion = computed(() => Number(route.params.questionId))

// Used to get answers from each item
const allAnswers = Array(store.state.questions.length).fill("")

// Save answers from items to the store
onBeforeUnmount(() => {
    store.commit("setAnswers", allAnswers)
})

</script>

<template>
    <div class="container flex flex-col mx-auto place-items-center">
        <!-- Show question number -->
        <h1 class="text-stone-800 text-2xl p-5">
            Question {{ currentQuestion + 1 }}:
        </h1>
        <QuestionItem :questionId="currentQuestion" :key="currentQuestion" :allAnswers="allAnswers" />
    </div>
</template>
