<script setup>
import { ref } from "vue"
import { useStore } from "vuex"
import ResultsList from "../components/results_components/ResultsList.vue"
import router from "../router"

const store = useStore()

const loadingText = ref("")

/**
 * Activates upon clicking "To start". Goes back to start, allowing the user to change the trivia options
 */
const onStartClick = () => {
    loadingText.value = "Loading start..."
    router.push("/")
}

/**
 * Activates on clicking "Play again". Generates new questions with the same options
 */
const onAgainClick = () => {
    loadingText.value = "Loading questions..."
    store.dispatch("createQuestions", {
        numOfQuestions: store.state.gameOptions.numberOfQuestions,
        categoryId: store.state.gameOptions.categoryId,
        difficulty: store.state.gameOptions.difficulty,
    }).then(() => {
        router.push("/questions/0")
    })
}
</script>
<template>
    <ResultsList />
    <div class="container flex flex-col mx-auto place-items-center">
        <p>{{loadingText}}</p>
        <div class="grid grid-cols-2 gap-3">
            <button
                @click="onStartClick()"
                class="text-lg p-3 px-7 hover:bg-indigo-300 bg-indigo-400 active:bg-indigo-500 rounded"
            >
                To start
            </button>
            <button
                @click="onAgainClick()"
                class="text-lg p-3 px-7 hover:bg-yellow-300 bg-yellow-400 active:bg-yellow-500 rounded"
            >
                Play again
            </button>
        </div>
    </div>
</template>
