<script setup>
import Login from '../components/start_components/Login.vue';
import GameOptions from '../components/start_components/GameOptions.vue';
import { useStore } from 'vuex';
import { computed } from 'vue';

const store = useStore()

const user = computed(() => store.state.user)
</script>


<template>
    <div class="grid gap-4">
        <Login />
        <GameOptions />
    </div>
</template>