<script setup>
import { computed, onBeforeMount, onMounted, ref } from 'vue';
import { useStore } from 'vuex';
import router from "../../router"

const store = useStore()

// State from store
const user = computed(() => store.state.user)
const categories = computed(() => store.state.categories)

// Local states
const categoryId = ref(0)
const difficulty = ref("easy")
const numberOfQuestions = ref(3)
const displayError = ref("")


onBeforeMount(() => {
    store.dispatch("fetchAllCategories").then(() => {
        categoryId.value = categories.value[0].id
    })
})

/**
 * Inits the game and navigates the user to question page
 */
const onStartGame = () => {
    if (!user.value) {
        console.log("no user")
        displayError.value = "No user logged in. Log in to start game"
        setTimeout(() => {
            displayError.value = ""
        }, 5000)
    }
    else if (numberOfQuestions.value <= 0) {
        displayError.value = "Invalid number of questions"
    }
    else {
        store.commit("setCategory", categoryId.value)
        store.commit("setDifficulty", difficulty.value)
        store.commit("setNumberOfQuestions", numberOfQuestions.value)

        // Fetch the questions, then either go to first question or show error message.
        store.dispatch("createQuestions", {
            numOfQuestions: numberOfQuestions.value,
            categoryId: categoryId.value,
            difficulty: difficulty.value,
        }).then(() => {
            if (store.state.questions.length === 0) {
                displayError.value = "Not enough available questions in category. Change category, difficulty or number of questions and try again"
            } else {
                router.push("/questions/0")
            }
        })
    }
}

</script>
<template>
    <div class="grid grid-row-4 place-content-center m-1">
        <label for="category-select" class="grid place-content-center">Category</label>
        <select
            v-if="categories"
            id="category-select"
            class="border border-slate-500"
            v-model="categoryId"
        >
            <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
        </select>

        <label for="difficulty-select" class="grid place-content-center">Difficulty</label>
        <select id="difficulty-select" class="border border-slate-500" v-model="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>

        <label for="numberOfQuestions-select" class="grid place-content-center">Number of questions</label>

        <input
            id="numberOfQuestions-select"
            class="border border-slate-500"
            v-model="numberOfQuestions"
            type="number"
        />
    </div>
    <div class="grid place-content-center">
        <button
            class="border bg-purple-600 p-3 hover:bg-purple-400 rounded w-48"
            @click="onStartGame"
        >Start game</button>
    </div>
    <div class="grid place-content-center">
        <p class="bg-red-600 p-3 border rounded" v-if="displayError">{{ displayError }}</p>
    </div>
</template>