<script setup>
import { ref, computed } from "vue"
import { useStore } from "vuex"
import router from "../../router"

const store = useStore()

// States from the store
const user = computed(() => store.state.user)

// Local states
const username = ref("")
const displayError = ref("")

/**
 * Dispatches login or create new user action
 * @param {*} action What type of action to dispatch
 */
const onLoginOrRegisterClick = async (action) => {
    const error = await store.dispatch(action, {
        username
    })
    displayError.value = ""
    if (error != null) {
        displayError.value = error
        setTimeout(() => {
            displayError.value = ""
        }, 5000)
    } else {
        console.log("User logged in: ", username)
    }
}

/**
 * Dispatch logout action
 */
const onLogout = () => {
    store.dispatch("logout")
}

</script>
<template>
    <!-- Loginform  -->
    <form v-if="!user" @submit.prevent="onLoginOrRegisterClick" class="grid place-content-center">
        <fieldset class="grid place-content-center">
            <label for="username" class="grid place-content-center">Enter your username</label>
            <input id="username" type="text" class="border border-slate-500" v-model="username" />
        </fieldset>
        <div class="grid gap-1 w-48 mt-3">
            <button
                @click="onLoginOrRegisterClick('createNewUser')"
                type="button"
                class="bg-green-700 p-3 rounded hover:bg-green-400"
            >Register</button>
            <button
                @click="onLoginOrRegisterClick('loginWithUsername')"
                type="button"
                class="bg-yellow-700 p-3 rounded hover:bg-yellow-500"
            >Login</button>
        </div>
    </form>

    <!-- Logout button. shows when a user is available -->
    <div v-if="user" class="grid place-content-center">
        <button
            class="w-48 p-3 mt-2 rounded bg-red-700 hover:bg-red-500"
            v-if="user"
            @click="onLogout"
        >Log out</button>
    </div>

    <!-- Error display section -->
    <div class="grid place-content-center">
        <div v-if="displayError" class="bg-red-600 p-3 rounded">
            <p>{{ displayError }}</p>
        </div>
        <div v-if="user" class="bg-green-500 flex p-3 rounded">
            <span>Username:</span>
            <p class="ml-3 font-bold">{{ user.username }}</p>
        </div>
    </div>
</template>