<script setup>
import { computed, ref } from "vue"
import { useStore } from "vuex"
import parseHtml from "../../parser"
import router from "../../router"

// the id of the question is used to access it. Makes it easier to get the correct question
const props = defineProps({
    questionId: {
        type: Number,
        required: true,
    },
    allAnswers: {
        type: Array,
        required: true,
    },
})

/**
 * Temporarily saves the users selected answer when button is clicked
 * @param {*} answer answer the user chose. Gotten from corresponding button value
 */
const onChooseAnswerClick = (answer) => {
    chosenAnswer = answer
    /* This variable is set upon choosing answer,
    so the user doesn't save answers from one question to another */
    answerToQuestion = props.questionId
    displayError.value = false
}

/**
 * Stores the answer in the global state when clicking submit-button
 * @param {*} path the path user gets directed to upon submitting. Either the next question or results page
 */
const submitAnswer = (path) => {
    // Error if user hasn't answered yet
    if (!chosenAnswer) {
        displayError.value = true
    } else {
        // save answer. Need questionId as well as actual answer
        props.allAnswers[answerToQuestion] = chosenAnswer
        router.push(path)
    }
}

let possibleAnswers = []

/**
 * Randomizes the answers to the question so the quiz is harder
 */
const randomizeAnswers = () => {
    possibleAnswers = [question.correct_answer, ...question.incorrect_answers]
    possibleAnswers = possibleAnswers.sort(() => Math.random() - 0.5)
}

const store = useStore()

const question = store.state.questions[props.questionId]

randomizeAnswers()

let chosenAnswer = ""
let answerToQuestion = 0

const displayError = ref(false)

// either multiple or boolean
const questionType = question.type

// Lets us check whether we should go to next question or to results screen
const finalQuestion = computed(
    () => store.state.questions.length - 1 <= props.questionId
)
</script>

<template>
    <h2 class="text-lg mb-3">{{ parseHtml(question.question) }}</h2>

    <!-- Add some space between answers and next -->
    <div class="h-40">
        <!-- Show true/false if question type is boolean -->
        <div v-if="questionType === 'boolean'" class="grid grid-cols-2 gap-3">
            <button
                @click="onChooseAnswerClick('True')"
                class="px-5 py-3 bg-lime-500 shadow-md border-slate-300 border font-bold rounded-md hover:bg-lime-400 active:bg-lime-600"
            >
                TRUE
            </button>

            <button
                @click="onChooseAnswerClick('False')"
                class="px-5 py-3 bg-red-600 shadow-md border-slate-300 border font-bold rounded-md hover:bg-red-500 active:bg-red-700"
            >
                FALSE
            </button>
        </div>

        <!-- Show all different kinds of answers if question type is multiple
            first alternative is currently always correct. TODO: change that -->
        <div v-if="questionType === 'multiple'" class="grid grid-cols-2 gap-3">
            <button
                v-for="answer in possibleAnswers"
                :key="answer"
                @click="onChooseAnswerClick(answer)"
                class="p-3 bg-slate-200 rounded-md shadow-md border-slate-300 border hover:bg-slate-100 active:bg-slate-300"
            >
                {{ parseHtml(answer) }}
            </button>
        </div>
    </div>

    <!-- Only able to go to next question if this is not the last question -->
    <button
        v-if="!finalQuestion"
        @click="submitAnswer(`/questions/${props.questionId + 1}`)"
        class="block hover:bg-violet-300 bg-violet-400 active:bg-violet-500 rounded p-3 font-bold shadow-md border border-black"
    >
        Submit answer
    </button>

    <button
        v-if="finalQuestion"
        @click="submitAnswer(`/results`)"
        class="block hover:bg-violet-300 bg-violet-400 active:bg-violet-500 rounded p-3 font-bold shadow-md border border-black"
    >
        Submit and finish
    </button>

    <!-- Shows when user tries to go to next question without submitting answer. Disappears when an answer is selected -->
    <div v-if="displayError" class="bg-red-500 p-3 rounded my-5">
        <span>Error</span>
        <p>No answer selected. Select an answer and try again.</p>
    </div>
</template>
